<mat-card>
    <div>
        <h1>Markt Wervik</h1>
        <p>Wekelijkse markt Wervik</p>
        <img [src]="ImageUrl"/>
        <ul>
            <li>elke vrijdag tussen 8 en 12 uur</li>
            <li>Steenakker (45 staanplaatsen) en Sint-Maartensplein (4 plaatsen)</li>
        </ul>
        <p>Ook op de Sint-Denijsplaats in Geluwe (4 staanplaatsen) zijn op vrijdagmorgen enkele plaatsen voorbehouden voor marktkramers die voeding verkopen.</p>
        <p>Kandidaat-marktkramers kunnen een aanvraag doen bij de dienst Feestelijkheden met</p>
        <ul>
            <li>een kopie van de leurkaart</li>
            <li>het product dat zij willen verkopen</li>
            <li>de lengte van de plaats die zij nodig hebben op de markt.</li>
        </ul>
    </div>
</mat-card>